<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Instagram</title>
    {% endif %}
    {% include "_include/style_loader.jinja2" %}
    {% block style %} {% endblock %}
  </head>
  <body class="pt-md-3 pt-lg-3 pt-sm-1">
    {% include "_include/flash.jinja2" %}
    <div class="container">
      {% if current_user.is_authenticated %}
        {% include "_include/navbar.jinja2" %}
      {% endif %}
      <div class="row justify-content-center">
        {% block main %} {% endblock %}
      </div>
    </div>
    {% include "_include/js_loader.jinja2" %}
    {% block script %} {% endblock %}
  </body>
</html>
