FLASK_APP=wsgi:app
FLASK_ENV=development

DB_HOST=localhost
DB_USER=root
DB_PASS=password
DB_NAME=inst

# if run web
# FLASK_APP=app.route.web:create_app
# if run api
# FLASK_APP=app.route.api:create_app
