{% extends "base.jinja2" %}

{% from "_macro/form.jinja2" import render_form %}

{% block main %}
  <div class="col col-lg-8 col-md-8 col-sm-10 col-xs-12 d-flex justify-content-between">
    <div class="d-block d-xs-none flex-fill">
      <img src="{{ url_for('static', filename='images/index-image.jpg') }}">
    </div>
    <div class="d-block border flex-fill">
      <div class="box p-lg-3 p-md-3">
        <h2 class="text-center mb-5">Doge Showcase</h2>
        {% call render_form(login_form, url_for("auth.index"), "POST", True) %}
        {% endcall %}
        <hr>
        <p>Bạn không có tài khoản? <a href="{{ url_for("auth.register") }}">Đăng ký</a></p>
      </div>
    </div>
  </div>
{% endblock %}
