{% extends "base.jinja2" %}

{% from "_macro/form.jinja2" import render_form  %}

{% block main %}
  <div class="col col-lg-6 col-md-6 col-sm-8 col-xs-12 d-flex justify-content-center">
    <div class="d-block border p-4" style="width: 80%">
      <h2 class="text-center mb-5 border-bottom pb-3">Register</h2>

      {% call render_form(register_form, url_for("auth.register"), "POST") %}
      {% endcall %}

      <hr class="p-2">
      <p>Bạn đã có tài khoản? <a href="{{ url_for("auth.index") }}">Đăng nhập</a></p>
    </div>
  </div>
{% endblock %}
