<nav class="border-bottom p">
  <div class="left">
    <img src="{{ url_for("static", filename="images/logo.jpg") }}" >
  </div>
  <div class="center">
    <div class="search-tool">
      <input type="text" class="border rounded" placeholder="Search" />
      {% if results %}
      <div class="search-result">
        {% for result in results %}
        <div class="item-result">
          <div class="left"><img src={{ url_for("static", filename="images/logo.jpg") }} width="48" height="48"></div>
          <div class="right">
            <a href="#">{{ result.title }}</a>
            <p>{{ result.text }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="right">
    <a href="{{ url_for("core.feed") }}" title="New feed"><i class="fas fa-home"></i></a>
    <a href="{{ url_for("core.feed") }}" title="New post"><i class="fas fa-plus-circle"></i></a>
    <a href="#" title="Message"><i class="fas fa-envelope"></i></a>
    <a href="{{ url_for("user.userinfo", username=current_user.username) }}" title="{{ current_user.fullname }}">
    {% if current_user.image_url %}
      <img src="{{ current_user.image_url }}">
    {% else %}
      <li class="fas fa-user-circle"></li>
    {% endif %}
    </a>
    <a href="{{ url_for("auth.logout")}}" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
  </div>
</nav>
